* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #ffffffff;
    overflow-x: hidden;
}

/* -----------------------------------------first nav-------------------------------------------- */
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    position: relative;
    padding: 2px 3rem;
}

.navsvg {
    width: 50%;
    justify-content: baseline;
    gap: 20px;
}

.navli {
    width: 50%;
}

.navli ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 10px;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    color: #111111;
}

/* -----------------------------------------------navigation bar----------------------------------------------- */
.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 2rem;
}

.nikesvg {
    width: 30%;
}

.navigationli {
    width: 40%;
}

.navigationli ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 18px;
}

.navigationli a {
    color: #111111;
    font-size: 16px;
    font-family: poppins;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.navigationicons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchbar {
    position: relative;
}

.searchbar span {
    position: absolute;
    top: 10px;
    left: 10px;
}

.searchbar input {
    width: 140px;
    height: 35px;
    border-radius: 30px;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
}

/*-----------------------------------------------------header slider--------------------------------------------- */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px 0;
    overflow: hidden;
    text-align: center;
}

.slider-text p {
    font-family: Poppins;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.slider-text a {
    font-size: 12px;
    font-family: poppins;
    color: #111111;
}

.slider-text {
    display: none;
    animation: animate 0.6s;
}

@keyframes animate {
    0% {
        transform: translateX(400%);
    }

    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(-400%);
    }
}

.slider-text.active {
    display: block;
}

/*-------------------------------------------------------Hero section--------------------------------------- */
.hero {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herowrapper {
    padding: 0 4rem;
    width: 100%;
    position: relative;
    justify-content: center;
}

.herowrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.herolayer {
    position: absolute;
    top: 3rem;
    left: 6rem;
    gap: 10px;
}

.herolayer h3 {
    font-size: 50px;
    font-family: Josefin Sans;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;

}

.herolayer p {
    font-family: poppins;
    font-size: 16px;
    text-transform: capitalize;
    margin: 10px 0;
    color: #fff;
}

.herolayer button {
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #f5f5f5;
    color: #111111;
    font-size: 12px;
    font-family: poppins;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
}

.herolayer button:hover {
    background-color: #dadada;
}

/* -----------------------------------------------------------Holiday hall frame section------------------------------------- */
.holidaywrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem;
    position: relative;

}

.wrapperheadinding {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: poppins;
    font-size: 24px;
    color: #111111;
    margin-top: 10px;
    padding: 1rem 0;

}

.wrapperimage {
    width: 100%;
    height: 100%;
}

.wrapperimage img {
    width: 100%;


}

.wrappercontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}



.wrappercontent h3 {
    font-size: 40px;
    font-family: 'FontAwesome';
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    padding: 1rem 0;


}

.wrappercontent p {
    text-align: center;
    font-size: 16px;
    font-family: poppins;
    color: #111111;
    padding: 1rem 0;
    text-transform: capitalize;

}

.wrapperbutton button {
    text-align: center;
    background-color: #111111;
    border: none;
    font-size: 12px;
    font-family: poppins;
    font-weight: 600;
    color: #f5f5f5;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

/* =============== gift wrapper section ============================ */

.giftwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
}

.giftwrapperheading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: poppins;
    font-size: 24px;
    color: #111111;
    margin-top: 10px;
    padding: 1rem 3rem;
}

.giftimages {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.giftimages img {
    width: 100%;
    height: 100%;
}

/* ------------------------Fetured gift section----------------*/
.feturedgift {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 2rem;
    position: relative;
}

.feturedheading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: poppins;
    font-size: 24px;
    color: #111111;
    margin-top: 10px;
    padding: 1rem 0;
    text-transform: capitalize;
}

.feturedwrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}

.firstwrapper {
    width: 50%;
    height: 100%;

}

.firstwrapper img {
    width: 100%;
    height: 100%;
}

.feturedlayer {
    font-size: 20px;
    font-family: poppins;
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 4rem;
    left: 3.5rem;
}

.secondwrapper {
    width: 50%;
    height: 100%;

}

.secondwrapper img {
    width: 100%;
    height: 100%;
}

.feturedlayer2 {
    font-size: 20px;
    font-family: poppins;
    color: #fff;
    /* margin-bottom: 10px; */
    position: absolute;
    bottom: 4rem;
    right: 14rem;
}

.feturedlayer2 span {
    margin-top: 10px;
}

.layerbutton button {
    text-align: center;
    background-color: #fff;
    border: none;
    font-size: 12px;
    font-family: poppins;
    font-weight: 600;
    color: #111111;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.layerbutton2 button {
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    border: none;
    font-size: 12px;
    font-family: poppins;
    font-weight: 600;
    color: #111111;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #dadada;
}